<div class="main-container">
    <h1 [ngStyle]="{
        color: formulario.valid ? 'green': 'red'
    }">Formulario</h1>
    <p class="description-text">“Completá el siguiente formulario para ponerte en contacto con nosotros.</p>
    <p class="description-text">Podés enviarnos consultas, sugerencias o cualquier mensaje y te responderemos a la brevedad."</p>
    
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
        <div class="container">
            <label>Nombre</label>
            <input type="text" formControlName="nombre"
                [ngClass]="{'input-error': formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched,
                'input-valid': formulario.get('nombre')?.valid && formulario.get('nombre')?.touched
            }">
            <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched" class="error-container">
                <p *ngFor="let error of erroresNombre" class="error-content">
                    {{error}}
                </p>
            </div>
        </div>
        <div class="container">
            <label>Email</label>
            <input type="text" formControlName="email"
                [ngClass]="{'input-error': formulario.get('email')?.invalid && formulario.get('email')?.touched,
            'input-valid': formulario.get('nombre')?.valid && formulario.get('nombre')?.touched
        }">
            <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="error-container">
                <p *ngFor="let error of erroresEmail" class="error-content">
                    {{error}}
                </p>
            </div>
        </div>
        <div class="container">
            <label>Mensaje</label>
            <textarea formControlName="mensaje"></textarea>
        </div>
    
        <div class="btn-container">
            <button type="submit" [disabled]="formulario.invalid" class="btn">Enviar</button>
        </div>
    </form>
    
    <p *ngIf="enviado">Formulario enviado correctamente</p>
</div>